.img_logo {
  width: 200px;
}

main {
  margin: 5px;
}

hr {
  border: 0;
  border-top: 2px solid $primary-black;
  width: 100%;
  opacity: 1;
}

.left-grid {
  display: flex;
  flex-direction: column;
}

.right-grid {
  display: flex;
  flex-direction: column;
}

.news-grid {
  display: grid;
  grid-template-columns: 1fr;
}

i {
  color: $primary-black;
  text-align: right;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.menu-container {
  z-index: 2;
  position: relative;
}

.title-padding {
  z-index: 1;
}
.top-img {
  z-index: -1;
}

.back-to-top {
  display: flex;
  justify-content: center;
  width: 50px;
  margin: 0 auto;
  text-align: center;
}

.back-to-top i {
  color: $selected;
  margin-bottom: 20px;
}

.back-to-top i:hover {
  color: $not-selected;
}
