.shopButton {
  border: 1px solid $primary-white;
  border-radius: 50%;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: $primary-white;
  text-decoration: none;
  padding: 20px 40px 20px 40px;
  margin-top: 20px;
  width: 200px;
  text-align: center;
}

.shopButton:hover {
  border: 2px solid $primary-black;
  background-color: $primary-white;
  color: $primary-black;
  font-weight: 600;
  text-decoration: none;
}

.shopButtonBlack {
  border: 1px solid $primary-black;
  border-radius: 50%;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: $primary-black;
  text-decoration: none;
  padding: 20px 40px 20px 40px;
  margin-top: 20px;
  width: 200px;
  text-align: center;
}

.shopButtonBlack:hover {
  border: 2px solid $primary-black;
  background-color: $primary-white;
  color: $primary-black;
  font-weight: 600;
  text-decoration: none;
}

.button-container {
  margin: 0 auto;
}

.btn-outline-primary {
  color: $primary-black;
  border-color: $primary-black;
  text-transform: uppercase;
}

.btn-outline-primary:hover {
  color: $primary-white;
  background-color: $primary-black;
  border-color: $primary-black;
}
