.shopButton {
  border: 1px solid $primary-white;
  border-radius: 50%;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: $primary-white;
  text-decoration: none;
  padding: 20px 40px 20px 40px;
  margin-top: 20px;
  width: 200px;
  text-align: center;
}

.shopButton:hover {
  background-color: $primary-white;
  color: $primary-black;
  font-weight: 600;
  text-decoration: none;
}

.shopButtonBlack {
  border: 1px solid $primary-black;
  border-radius: 50%;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: $primary-black;
  text-decoration: none;
  padding: 20px 40px 20px 40px;
  margin-top: 20px;
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.shopButtonBlack:hover {
  background-color: $primary-black;
  color: $primary-white;
  font-weight: 600;
  text-decoration: none;
}

.button-container {
  margin: 0 auto;
}

.btn-outline-primary {
  color: $primary-black;
  border-color: $primary-black;
  text-transform: uppercase;
}

.btn-outline-primary:hover {
  color: $primary-white;
  background-color: $primary-black;
  border-color: $primary-black;
}

.btn-outline-filter {
  border-color: $primary-black;
  color: $primary-black;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.btn-outline-filter:hover {
  border-color: $primary-black;
  color: $primary-white;
  background-color: $primary-black;
}

.btn-primary {
  background-color: $primary-black;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  border: 1px solid $primary-black;
}

.btn-primary:hover {
  background-color: $primary-white;
  border: 1px solid $primary-black;
  color: $primary-black;
}

i:hover {
  color: $hover-icon;
  cursor: pointer;
}

i {
  text-align: center;
}

.fa-solid {
  color: $selected;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.far-solid {
  color: $not-selected;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}
