.bg-light {
  background-color: $primary-white !important;
}

#front-page {
  height: 500px;
}

.text-wrap {
  width: 14rem;
}

.input-group {
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;

  &.upload {
    margin-top: 0px;
    padding-top: 0px;
  }
}

.form-control {
  border-radius: 0;
  background-color: transparent;
  color: $primary-black;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  border: 1px solid $primary-white;

  &__filter {
    border: 1px solid $primary-black;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
  }

  &.edit {
    border: 1px solid $primary-black;
  }
}

.btn-outline-secondary {
  border-color: $primary-white;
  color: $primary-white;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.btn {
  border-radius: 0;
}

.form-control-dark {
  border-radius: 0;
  background-color: transparent;
  color: $primary-black;
  font-family: "Roboto", sans-serif;
  border: 1px solid $primary-black;
}

.input-group-dark {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  width: 300px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.search-section {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1400px;
}

.form-check-label {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.form-check {
  padding: 20px 0px;
  width: 250px;
  margin: 0 auto;
}
