footer {
  width: 100%;
  background-color: $secondary-black;
}

.footer-grid {
  background-color: $secondary-black;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 50px;
}

.footer-flex-right {
  margin: 0 auto;
}
