.img-header {
  height: 1000px;
  background-image: url(../../img/girl-floating-mirrored.jpg);
  background-position: center;
  max-width: 100%;
}

.header-padding {
  padding: 20px;
  display: grid;
}
