.product-img {
  width: 100%;
}

.product-img:hover {
  transform: scale(1.03);
  @include transition-ease;
}

.product-container::before,
.product-container::after {
  content: "";
  opacity: 1;
  transition: transform ease-out 250ms;
}

.product-container::before {
  width: 100%;
  border-top: 3px solid $hashtag-link;
  transform: scale(0, 1);
  transform-origin: right;
  margin-bottom: 10px;
}

.product-container::after {
  width: 100%;
  border-top: 3px solid $hashtag-link;
  transform: scale(0, 1);
  transform-origin: left;
}

.product-container:hover::before,
.product-container:hover::after {
  transform: scale(1, 1);
}

.product-img-edit {
  width: 300px;
}

.product-info {
  display: grid;
}

.product-container {
  margin-bottom: 20px;
}

.view-more {
  padding-bottom: 100px;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px 0px;
}

.product-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
}

.product-container-edit {
  grid-template-columns: 1fr;
  margin: 0 auto;
}

.edit-products {
  display: grid;
  grid-template-columns: 1fr;
}

.form-margin {
  margin: 10px 0px;
}
