h1 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  line-height: 4.2rem;
}

h2 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
}

h3 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 1.9rem;
  color: black;
  text-align: center;
}

.white-style {
  color: white;
}

p {
  font-family: "Roboto", sans-serif;
  color: white;
}

.title-section {
  margin-top: 80px;
  margin-bottom: 50px;
}

.product-title {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
